<div class="jumbotron">
    <form>
        <div class="form-group">
            <label for="title">Наименование</label>
            <input type="text" id="title" name="title" class="form-control" [(ngModel)]="item.title" required>
        </div>
        <div class="form-group">
            <label for="category">Категория</label>
            <select [(ngModel)]="item.category" name="category" id="category" class="form-control" required>
                <option *ngFor="let category of categories" value="{{category.id}}">{{category.name}}</option>
            </select>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="count">Количество</label>
                    <input type="number" id="count" name="count" class="form-control" [(ngModel)]="item.count" required>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="count">Сумма</label>
                    <input type="number" id="sum" name="sum" class="form-control" [(ngModel)]="item.sum" required>
                </div>
            </div>
        </div>
        <button (click)="create()" type="submit" class="btn btn-primary">Добавить</button>
    </form>
</div>