<div class="container">
    <h1 class="text-center">{{title}}</h1>

    <div class="row">
        <div class="col">
            <app-create-form [categories]="categories" (onChanged)="onChanged($event)"></app-create-form>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <app-item-list [items]="items" [categories]="categories" (onChanged)="onChanged($event)"></app-item-list>
        </div>
    </div>
</div>