<p class="text-right">
    Всего позиций: {{totalCount}}
    На сумму: {{totalSum}}
</p>

<table class="table">
    <thead>
    <tr>
        <th>Наименование</th>
        <th>Категория</th>
        <th>Количество</th>
        <th>Сумма</th>
        <th>Дата создания</th>
        <th>Действия</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of items">
        <td>{{item.title}}</td>
        <td>{{item.category}}</td>
        <td>{{item.count}}</td>
        <td>{{item.sum}}</td>
        <td>{{item.time | date}}</td>
        <td><a href="#" title="Удалить" (click)="deleteItem(item, $event)">Удалить</a></td>
    </tr>
    </tbody>
</table>